.calculator-section {
  height: 100vh;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Optional: Adds space between the boxes */
  align-items: center;
  flex-wrap: wrap; /* Allows items to wrap to the next row */
  gap: 5%;
}

.calculator-subsection {
  width: 46%;
  overflow-y: auto; /* Allows vertical scrolling */
  border-right: #000 5px;
}

form {
  width: 75%;
  align-items: center;
}

form label {
  display: block;
  margin-top: 5px;
  font-size: 250%;
}

form input,
form textarea,
form button {
  width: 100%;
  margin-top: 2%;
}

form button {
  margin-top: 2%;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: grey;
}

.parameter {
  margin-bottom: 7.5%;
}

/* Container to hold the slider and its value indicator */
.slider-container {
  position: relative;
  width: 100%;
  max-width: 400px; /* Adjust width as needed */
  margin: 50px auto;
}

input {
  --c: black; /* active color */
  --g: 8px; /* the gap */
  --l: 5px; /* line thickness*/
  --s: 30px; /* thumb size*/

  width: 400px;
  height: var(--s); /* needed for Firefox*/
  --_c: color-mix(in srgb, var(--c), #000 var(--p, 0%));
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  cursor: pointer;
  overflow: hidden;
}
input:focus-visible,
input:hover {
  --p: 25%;
}
input:active,
input:focus-visible {
  --_b: var(--s);
}
/* chromium */
input[type="range" i]::-webkit-slider-thumb {
  height: var(--s);
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0 0 0 var(--_b, var(--l)) inset var(--_c);
  border-image: linear-gradient(90deg, var(--_c) 50%, #ababab 0) 0 1 /
    calc(50% - var(--l) / 2) 100vw/0 calc(100vw + var(--g));
  -webkit-appearance: none;
  appearance: none;
  transition: 0.3s;
}
/* Firefox */
input[type="range"]::-moz-range-thumb {
  height: var(--s);
  width: var(--s);
  background: none;
  border-radius: 50%;
  box-shadow: 0 0 0 var(--_b, var(--l)) inset var(--_c);
  border-image: linear-gradient(90deg, var(--_c) 50%, #ababab 0) 0 1 /
    calc(50% - var(--l) / 2) 100vw/0 calc(100vw + var(--g));
  -moz-appearance: none;
  appearance: none;
  transition: 0.3s;
}
@supports not (color: color-mix(in srgb, red, red)) {
  input {
    --_c: var(--c);
  }
}

input[type="number"] {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4vh;
  padding: 1vh;
}

span {
  font-size: 200%;
}

/* Stacked layout for smaller screens */
@media screen and (max-width: 768px) {
  .calculator-subsection {
    flex: 1 1 100%; /* Full width for smaller screens */
  }
  .visualisation-subsection {
    flex: 1 1 100%; /* Full width for smaller screens */
  }
}

.visualisation-subsection {
  width: 46%;
  position: sticky;
  border-left: #000 5px;
}
