.container {
  display: flex; /* Creates a horizontal layout for the children */
  height: 100vh; /* Full viewport height */
}

.fixed {
  flex: 0 0 40vw; /* Fixed width of 40vw */
  background-color: rgba(0, 0, 0, 0.2); /* Light gray background */
  padding: 20px;
  margin: auto;
}

.scrollable {
  flex: auto; /* Takes up the remaining space */
  overflow-y: auto; /* Enables vertical scrolling */
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5 ); /* Optional shadow for better separation */
}

.scrollable h1 {
  max-width: 80%;
}

.chart_background {
  background-color: white;
  padding: 2%;
  border-color: rgba(0, 0, 0, 0.1);
}