.container {
  display: flex; /* Creates a horizontal layout for the children */
  height: 100vh; /* Full viewport height */
}

.fixed {
  flex: 0 0 40vw; /* Fixed width of 40vw */
  /* background-color: rgba(0, 0, 0, 0.2); */
  /* display: flex;
  justify-content: center; 
  align-items: center;   */
}

.scrollable {
  flex: auto; /* Takes up the remaining space */
  overflow-y: auto; /* Enables vertical scrolling */
  padding: 20px;
  /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5 );  */
}

.scrollable h1 {
  max-width: 80%;
}

.chart_background {
  background-color: white;
  padding: 2%;
  border-color: 5px black;
  margin: auto;
}

.calculateButton {
  background-color: transparent;
  color: black;
  border: 2px solid black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vh;
  cursor: pointer;
  border-radius: 8px;
  margin: auto;
}

/* Stacked layout for smaller screens */
@media screen and (max-width: 768px) {
  .container {
    display: list-item; /* Creates a horizontal layout for the children */
  }
}